.btn {
    padding: 0.9rem 2rem;
    border-radius: 3.75rem;
    border: none;
    color: white;
    font-family: var(--font-sora);
    cursor: pointer;
    font-size: var(--font-size-xs);
    text-transform: capitalize;
}

/* variants */
.primary {
    background-color: var(--color-primary);
    border: 1px solid transparent;
    transition: all 0.3s ease;
    font-weight: bold;
}

.primary:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
    background-color: transparent;
}

.secondary {
    border: 1px solid transparent;
    background-color: var(--color-secondary);
    transition: all 0.3s ease;
    font-weight: bold;
}

.secondary:hover {
    color: var(--color-secondary);
    border-color:  var(--color-secondary);
    background-color: transparent;
}