.article-card {
    background-color: var(--color-grey-background);
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-card__details {
    display: flex;
    gap: 30px;
}

.article-card__details span {
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-family: var(--font-sora);
    color: var(--color-text-accent);
    line-height: 32px;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.article-card__text {
    font-family: var(--font-epilogue);
    font-weight: 600;
    line-height: 26.6px;
    color: var(--color-text-primary);
    width: auto;
    font-size: 19px;
    margin-bottom: 0.6rem;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}


