.title-context__mini {
    display: flex;
    text-transform: uppercase;
    color: var(--color-secondary);
    gap: 5px;
    align-items: center;
    font-family: var(--font-sora);
}

.title-context__max {
    font-family: var(--font-epilogue);
    line-height: 58.5px;
    font-size: 45px;
    text-transform: capitalize;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    margin: 10px 0;
}

.title-context__max span {
    color: var(--color-secondary);
}