@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
    /* brand-colors */
    --color-primary: #00BEAE;
    --color-secondary: #FF9500;
    --color-accent: #17254E;
    --color-light-background: #FFF8F0;
    --color-grey-background: #F3F5F5;
    --color-orange: #FE543D;

    /* text colors */
    --color-text-primary: #0E2A46;
    --color-text-secondary: #333931;
    --color-text-accent: #4D5756;

    /* font families */
    --font-sora: "Sora", sans-serif;
    --font-epilogue: "Epilogue", sans-serif;

    /* typography */
    --font-size-xs: 0.75rem; /*12px*/
    --font-size-sm: 0.875rem; /*14px*/
    --font-size-base: 1rem; /*16px*/
    --font-size-lg: 1.125rem; /*18px*/
    --font-size-xl: 1.25rem; /*20px*/
    --font-size-2xl: 1.5rem; /*24px*/
    --font-size-3xl: 1.875rem; /*30px*/
    --font-size-4xl: 2.25rem; /*36px*/
    --font-size-5xl: 3rem; /*48px*/
    --font-size-6xl: 3.75rem; /*60px*/
    --font-size-7xl: 4.5rem; /*72px*/
    --font-size-8xl: 6rem; /*96px*/
    --font-size-9xl: 8rem; /*128px*/

    /* font weight */
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
}

