.footer-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-info__icon {
    border: 1px solid #F4F4F480;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.footer-info__details span {
    font-size: 15px;
    font-family: var(--font-sora);
    color: var(--color-primary);
    line-height: 32px;
}

.footer-info__details p {
    font-size: 20px;
    font-family: var(--font-epilogue);
    color: white;
    font-weight: bold;
}