.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-primary);
}

.stats-border {
    border: 1px dashed var(--color-text-primary);
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 5px;
}

.stats-container__icon {
    background-color: var(--color-secondary);
    border-radius: 50%;
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        width: 60px;
        height: 60px;
    }
}

.stats-container__title {
    font-weight: 700;
    font-size: 39px;
    font-family: var(--font-epilogue);

    @media (max-width: 768px) {
        font-size: 1.3rem;
    }
}

.stats-container__desc {
    font-size: 21px;
    font-family: var(--font-sora);
    text-transform: capitalize;

    @media (max-width: 768px) {
        font-size: 1rem;
    }
}